<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC0Lm4M1UxyI3oU_rua1zWuNBD8Uq8oklE</string>
	<key>GCM_SENDER_ID</key>
	<string>1090554257808</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.costprognosis</string>
	<key>PROJECT_ID</key>
	<string>cost-prognosis-5g3vg4</string>
	<key>STORAGE_BUCKET</key>
	<string>cost-prognosis-5g3vg4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090554257808:ios:ff79ef9df1b35b81b59315</string>
</dict>
</plist>